{% extends "base.html" %}

{% block container %}
<style>
    th, td {
        text-align: center;
    }
    tr.pointer {
      cursor: pointer;
      }

</style>

<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th colspan="2">Справочник товаров</th>
        <th>Справочник контрагентов</th>
        <th colspan="5">Шапка документа</th>
        <th colspan="2">Остатки товаров на складе</th>
        <th colspan="4">Спецификация документов</th>
    </tr>
    <tr>
        <th>Наименование товара</th>
        <th>Цена</th>
        <th>Наименование контракта</th>
        <th>Номер документа</th>
        <th>Дата</th>
        <th>Сумма документа</th>
        <th>Состояние документа</th>
        <th>Тип документа</th>
        <th>Количество фактическое</th>
        <th>Количество в резерве</th>
        <th>Количество</th>
        <th>Количество в резерве</th>
        <th>Цена</th>
        <th>Скидка</th>
    </tr>
    </thead>
    <tbody>

    {% for i in obj %}
    <tr class="pointer" onclick="document.location = '{% url 'update' i.pk %}';">
        <td>{{i.link_dp.name_product|default_if_none:"&nbsp;"}}</td>
        <td>{{i.link_dp.price|default_if_none:"&nbsp;"}} руб.</td>
        <td>{{i.link_dh.link_dc.contract|default_if_none:"&nbsp;"}}</td>
        <td>{{i.link_dh.number_document|default_if_none:"&nbsp;"}}</td>
        <td>{{i.link_dh.date|default_if_none:"&nbsp;"|date:'d.m.Y'}}</td>
        <td>{{i.link_dh.summ_document|default_if_none:"&nbsp;"}}</td>
        <td>{{i.link_dh.state_document|default_if_none:"&nbsp;"}}</td>
        <td>{{i.link_dh.type_document|default_if_none:"&nbsp;"}}</td>
        <td>{{i.link_ps.count_fact|default_if_none:"&nbsp;"}}</td>
        <td>{{i.link_ps.count_reserv|default_if_none:"&nbsp;"}}</td>
        <td>{{i.counts|default_if_none:"&nbsp;"}}</td>
        <td>{{i.counts_reserv|default_if_none:"&nbsp;"}}</td>
        <td>{{i.prices|default_if_none:"&nbsp;"}} руб.</td>
        <td>{{i.discount|default_if_none:"&nbsp;"}} %</td>
    </tr>
    {% endfor %}


    </tbody>
</table>


{% endblock%}
